@charset "UTF-8";

*{
	margin:0; padding:0; box-sizing: border-box; color: #333;
}
a{text-decoration: none; color: inherit;}
ul{list-style: none;}

.clearfix::after{content: ''; display: block; clear: both;}
.left{float:left;}
.right{float:right;}
.bold{font-weight: bold;}

body{width:1200px; margin:0 auto;}
/* ********************헤더************************** */
header{
	padding:10px; background-color: #efe6d9;
}
header #logo{
	background-color: #39504d; height:100px;
	text-align:center; line-height:100px;
	margin: 10px 0;
}
#logo>a{display:inline-block; width:100%; color:#f0ede0;}
#top_menu>a{font-weight: bold;}
header #webserch{
	width: 200px; height: 30px;
	background-color: #ddd;
	}
/* **********************메뉴********************************* */
nav{
	width: 200px; height: 80vh; float:left;
	background-color: #efe6d9;
}

#welcome{
	width: 100%; height:100px;
	background-color:#f1bf3a;
}
.searchMain{margin:10px 20px;}
.menu{padding:20px 10px;}
.menu>li>a{
	font-weight: bold; 
	display: inline-block;
	padding: 5px 10px;
}
.submenu>li{padding-left:10px;}

#thecheat{
	width: 100px; height:50px;
	background-color:yellow;
}

/* ***************마이페이지용 메뉴****************************** */

#mypagewelcome{
	width: 100%; height:200px;
	
	
}
#mypagenickname{
	width: 100%; font-size:30px;
	display: inline-block;
	margin-top:80px;
}
	
#mypagename{
	width: 100%; height:100px;
	display: inline-block; 

}

/* **************************본문************************************ */
section{
	width:900px; height: 80vh;
	background-color:#fff; 
	margin-left:250px; margin-top: 20px;
	margin-right:50px;
	
}
#weader{margin-top:20px;}
#youtube{margin: 20px auto;}
#youtube>iframe:nth-child(1){margin-right:5px;}
#adbanner{
	width: 100%; height: 200px;
	background-color:green;
	}
.mainboard{display:flex; margin:20px 0;}
.mainboard>div{
	flex:1; padding: 0 10px;	
}
.mboardmn{
	padding: 10px 20px;
	background-color:gray;
}
.mboardmn h3{float:left;}
.mboardmn .mainmore{float:right;}
.mainlist li{
	padding:5px 20px;
	background-color: #efe6d9;
}
.mainlist li::after{content: ''; display: block; clear: both;}
.mainlist li a{
	display:inline-block; float:left;
}
.mainlist .mlistdate{
	font-size: 12px; color: #beb5a2;
	float:right;
}

/* *************************푸터******************************** */
footer{
	height:12vh; width:100%; padding:30px 0;
	background-color: #353631;
}
footer>div{text-align:center; margin-bottom:5px; color:#fff;}
footer span{color:#fff;}

