@charset "UTF-8";

body, h1, h2, ul, li{
	margin:0px;
	padding:0px;
}
header{
	height: 15vh;
	border:1px solid olive;
}
nav{
	width: 20vw;
	height: 70vh;
	border:1px solid orange;
	float:left;
}
section{
	height: 70vh;
	border:1px solid green;
}
footer{
	height:10vh;
	border:1px solid purple;
}